include lib/*.py  # Include all Python files in lib
include experiments/**/*.py  # Include all Python files in experiments and its subdirectories
include pipnet/data/**/*.txt  # Include all meanface.txt files from data subdirectories

